{% extends "users/base.html" %}
{% block content %}
    <style>
        input[type=text] {
            border: 1px solid #555;
            font-size: 17px;
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
    </style>

	<div id="text1" class="jumbotron text-center" style="font-size: 150%; color: #0e2f44; font-weight: bold; font-family: "Times New Roman", Times, serif;">Safe Routes Start From Here!
	</div>

	<p>Please enter the start location and the destination:</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
			    <!--{{ warning }}-->
			<br>					
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<form name="loc_form" method="GET" action="/welcome/" >
				    {% csrf_token %}
				    Start Location: <input type="text" name="startloc" style="border-radius: 5px;"><br>
				    Destination: <input type="text" name="endloc" style="border-radius: 5px;"><br><br>
				    Save Location (For Signed In Users) <input type="checkbox" name="saved" value="3"/>
				    <br><input class="btn btn-primary" type="submit" value="Submit" />
				</form><br>
				
				{% for a in locs %}
	            <h2>{{a}}</h2>
	            {% endfor %}
			</div>
		</div>

	</div>

	{% for a in test %} 
        <!--{% if a != 1%}-->
		<p> {{ a }} </p>
    	<!--{% endif %}-->
	{% endfor %} 
{% endblock content %}





