{% extends "users/base.html" %}
{% block content %}
	<div id="text1" class="jumbotron text-center" style="font-size: 150%; color: #0e2f44; font-weight: bold; font-family: "Times New Roman", Times, serif;">Safe Routes Start From Here!
	</div>

	<p>Please enter the start location and the destination:</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
			<br>					
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<form name="loc_form" method="GET" action="/welcome/" >
				    {% csrf_token %}
				    Start Location: <input type="text" name="startloc"><br>
				    Destination: <input type="text" name="endloc"><br>
				    <br><input type="submit" value="Submit"/>
				</form><br>
				
				{% for a in locs %}
	            <h2>{{a}}</h2>
	            {% endfor %}
			</div>
		</div>

	</div>

	{% for a in test %} 
        <!--{% if a != 1%}-->
		<p> {{ a }} </p>
    	<!--{% endif %}-->
	{% endfor %} 
{% endblock content %}





