{% extends "users/base.html" %}
{% block content %}
	<div id="text1" class="jumbotron text-center" style="font-size: 150%; color: #0e2f44; font-weight: bold; font-family: "Times New Roman", Times, serif;">Safe Routes Start From Here!
	</div>

	<p>Please enter the start location and the destination:</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Start location
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<form method="POST">
					{% csrf_token %}
					{{ loc_form.start }}
				</form>			
				<!-- <input type="text" name="startLoc"> --> <br>					
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Destination
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<form method="POST">
					{% csrf_token %}
					{{ loc_form.end }}
				</form>				
				<!-- <input type="text" name="endLoc"> --><br>
			</div>

			<div class="col-sm-4">
				<input id="btnn" type="submit" value="Submit">
			</div>
		</div>

	</div>

	<p id="jqtest"></p>

	<script type="text/javascript">

		$(document).ready(function(){
    			$('#btnn').click(function () {
      			$("#jqtest").html("Oh Yeah!");
      			});
    	});

		// $(function () {
  		
  // 			var s_loc = {{ loc_form.start }};
  // 			var e_loc = {{ loc_form.end }};
  // 				$('input[type=submit]').click(function () {
  // 					$('#result').html('Test successfully!')
  // 				})
  //    		}
  //  		);
  		
	</script>



	{% for a in test %} 
        <!--{% if a != 1%}-->
		<p> {{ a }} </p>
    	<!--{% endif %}-->
	{% endfor %} 
{% endblock content %}





