<!DOCTYPE html>
<html lang="en">
<head>
	<title>secure-stroll</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">Safe Routes Start Here
		<p>some text....</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Start location
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<select>
					<option value="Green Street">Green Street</option>
					<option value="Clark Street">Clark Street</option>
					<option value="Pink Street">Pink Street</option>
					<option value="White Street">White Street</option>
				</select>
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Destination
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<select>
					<option value="Green Street">Green Street</option>
					<option value="Clark Street">Clark Street</option>
					<option value="Pink Street">Pink Street</option>
					<option value="White Street">White Street</option>
				</select>
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

	</div>
</body>
</html>