{% extends "users/base.html" %}
{% block content %}
	<div id="text1" class="jumbotron text-center" style="font-size: 150%; color: #0e2f44; font-weight: bold; font-family: "Times New Roman", Times, serif;">Safe Routes Start From Here!
	</div>

	<p>Please enter the start location and the destination:</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Start location
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<!-- <form method="POST">-->
				<!--	{% csrf_token %}-->
				<!--	{{ loc_form.start }}-->
				<!--</form>		 -->
				<!-- <input type="text" name="startLoc"> --> <br>					
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				Destination
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<!--<form method="POST">-->
				<!--	{% csrf_token %}-->
				<!--	{{ loc_form.end }}-->
					<!--<button type="submit"> Test </button>-->
				<!--	<button class="btn btn-outline-info" type="submit">SubmitEndLoc</button>-->
				<!--</form>				-->
				
				<form name="loc_form" method="GET" action="/welcome/" >
				    {% csrf_token %}
				    -Start Location: <input type="text" name="startloc"><br>
				    -Destination: <input type="text" name="endloc">
				    <input type="submit" value="TestSubmit"/>
				</form><br>
				
				{% for a in locs %}
	            <h2>{{a}}</h2>
	            {% endfor %}
			</div>

			<!--<div class="col-sm-4">-->
			<!--	<input id="btnn" type="submit" value="Submit">-->
			<!--</div>-->
		</div>

	</div>


	<p id="jqtest"></p>
	{% for a in startloc %}
	<h2>{{startloc}}</h2>
	{% endfor %}

	<script type="text/javascript">

// 		$(document).ready(function(){
// 				var s_loc = 45;
// 				var e_loc = {{start_loc}}

//     			$('#btnn').click(function () {
//       			$("#jqtest").html(e_loc);
//       			});
//     	});

		// $(function () {
  		
  // 			var s_loc = {{ loc_form.start }};
  // 			var e_loc = {{ loc_form.end }};
  // 				$('input[type=submit]').click(function () {
  // 					$('#result').html('Test successfully!')
  // 				})
  //    		}
  //  		);
  		
	</script>



	{% for a in test %} 
        <!--{% if a != 1%}-->
		<p> {{ a }} </p>
    	<!--{% endif %}-->
	{% endfor %} 
{% endblock content %}





