{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <style>
        input[type=text] {
            border: 1px solid #555;
            font-size: 17px;
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
    </style>

	<div id="text1" class="jumbotron text-center" style="font-size: 150%; color: #0e2f44; font-weight: bold; font-family: "Times New Roman", Times, serif;">Safe Routes Start From Here!
	</div>

	<p>Please enter the start location and the destination:</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
			    <!--{{ warning }}-->
			<br>					
			</div>

			<div class="col-sm-4">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				
			</div>

			<div class="col-sm-4">			
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			</div>

			<div class="col-sm-4">
				<form name="loc_form" method="GET" action="/welcome/" >
				    {% csrf_token %}
				    Start Location: <input type="text" name="startloc" style="border-radius: 5px;"><br>
				    Destination: <input type="text" name="endloc" style="border-radius: 5px;"><br><br>
				    Save Location (For Signed In Users) <input type="checkbox" name="saved" value="3"/>
				    <br><input class="btn btn-primary" type="submit" value="Submit" />
				</form><br>
				
				<!--{% for a in locs %}-->
	   <!--         <h2>{{a}}</h2>-->
	   <!--         {% endfor %}-->
			</div>
		</div>

	</div>
	
	<!--<input id = "saved" class="btn btn-primary" type="submit" value="Saved Route" />-->
 <!--   <p id="routes"></p>-->
	
<!--	<script type="text/javascript">-->
<!--	$(document).ready(-->
<!--    function(){-->
<!--      $("#jqtest").html("JQuery installed successfully!");-->
<!--    }-->
<!--  );-->
<!--</script>-->
<!--<p id="jqtest"></p>-->

	<!--{% for a in test %} -->
	<!--	<p> {{ a }} </p>-->
	<!--{% endfor %} -->
	
	<!--<script src="{% static 'welcome/saveroutes.js' %}">-->
	<!--    $(function () {-->
	<!--       $('#saved').click(function (){-->
	<!--        var route = {{ a.0 }}-->
	<!--        $('#routes').html(route)-->
	<!--           $('#routes').html('routes')-->
	<!--            {% for a in rows_saved %} -->
	<!--	            <p> {{ a }} </p>-->
	<!--            {% endfor %} -->
	<!--            {% for a in last_saved %} -->
	<!--	            <p> {{ a }} </p>-->
	<!--	        {% endfor %} -->
	<!--        }-->
	<!--    }-->
 <!--   </script>-->
    <!--<p style="color: #000099">Last saved route: </p>-->
	<!--{% for a in last_saved %} -->
		<!--<p> <b>Start Location:</b> {{ last_saved.0 }}  <b>End Location:</b>{{ last_saved.1 }} </p>-->
		<!--<p> {{last_saved}}</p>	-->
		<!--{% endfor %} -->
	<br>
	
	<p style="color: #000099">Saved routes (ordered by most reciently searched): </p>
	{% for a in rows_saved %} 
	
		<p> <b>Start Location:</b> {{ a.0 }}  <b>End Location:</b>{{ a.1 }} </p>
		
	{% endfor %} 
	<br>
	
	<div></div>
	<div></div>
{% endblock content %}





